@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/styles")

</head>
<body class="home">
    <div class="container">
        <div class="row header">
            @Html.Partial("_Navigation")
        </div>

        <div class="">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts")
    
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

            $('#myCarousel').carousel({
                interval: 4000
            });
            $('#myCarousel').carousel('cycle');
        });
    </script>
</body>
</html>