<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            @NavigationNode("Home", "Головна")
            @NavigationNode("Games", "Ігри")
            @NavigationNode("About", "Інфо")
            @NavigationNode("Rules", "Правила")                    
        </div>
        @if (User.Identity.IsAuthenticated)
        {           
            <div class="nav-center">
                <span class="nav-item">Привіт, @WebSecurity.User.Name  :)</span>
            </div>
            <div class="nav-right">
                @NavigationNode("AdminIndex", "Адмін панель")                
                @NavigationNode("MyProfile", "Мій профіль")
                @NavigationNode("Logout", "Вихід")
            </div>
        }           
    </div>    
</nav>
               

@helper NavigationNode(string routeName, string nodeTitle)
{
    var url = Url.RouteUrl(routeName);
    bool isActive = HttpContext.Current.Request.Url.AbsolutePath.Equals(url, StringComparison.InvariantCultureIgnoreCase);
        <a class="nav-item is-tab @(isActive ? "is-active" : "")" href="@Url.RouteUrl(routeName)">@nodeTitle</a>
}