@model Cleverest.Mvc.ViewModels.Admin.GameViewModel

<p class="content">
    <h1 class="title has-text-centered">Створення гри</h1>
</p>

<section class="section" id="createGamePage">

    <div class="container">
        @using (Html.BeginForm("Create", "Game", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal form", enctype = "multipart/form-data" }))
            {
            <div class="columns">
                <div class="column is-10">
                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Title, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Title, htmlAttributes: new { @class = "input" })
                            @Html.ValidationMessageFor(x => x.Title)
                        </div>
                    </div>

                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Location, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Location, htmlAttributes: new { @class = "input" })
                            @Html.ValidationMessageFor(x => x.Location)
                        </div>
                    </div>

                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.GameDate, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.GameDate, htmlAttributes: new { @class = "input datepicker", @type = "text" })
                            @Html.ValidationMessageFor(x => x.GameDate)
                        </div>
                    </div>

                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Image, htmlAttributes: new { @type = "file" })
                            @Html.ValidationMessageFor(x => x.Image)
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <p class="control">
                        <button class="button is-success is-large" type="submit">Створити</button>
                    </p>
                    <p class="control">
                        <a href="@Url.Action("List")" class="button is-warning is-large">Відмініти</a>
                    </p>
                </div>
            </div>
        }
    </div>

</section>