@model GameInputViewModel

<p class="content">
    <h1 class="title has-text-centered">Редагування гри</h1>
</p>

<section class="section" id="editGamePage">
    <div class="container">
        @using (Html.BeginForm(Model.IsCreateModel ? "Create" : "Edit", "Game", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <div class="columns">
                <div class="column is-10 is-cleverest">
                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Title, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Title, htmlAttributes: new { @class = "input" })
                            @Html.ValidationMessageFor(x => x.Title)
                        </div>
                    </div>

                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Location, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Location, htmlAttributes: new { @class = "input" })
                            @Html.ValidationMessageFor(x => x.Location)
                        </div>
                    </div>

                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.GameDate, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.GameDate, "{0:MM/dd/yyyy}", htmlAttributes: new { @class = "input datepicker", @type = "text" })
                            @Html.ValidationMessageFor(x => x.GameDate)
                        </div>
                    </div>

                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Image, htmlAttributes: new { @type = "file" })
                            @Html.ValidationMessageFor(x => x.Image)
                        </div>
                    </div>

                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.MaxTeamCount, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.MaxTeamCount, htmlAttributes: new { @class = "input" })
                            @Html.ValidationMessageFor(x => x.MaxTeamCount)
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <p class="control">
                        <button class="button is-success is-large" type="submit">Зберегти</button>
                    </p>
                    <p class="control">
                        <a href="@Url.Action("List")" class="button is-warning is-large">Відмініти</a>
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="" style="margin-top: 50px;">
        @if(Model.IsMediaContentPresent)
        {
                @Html.Partial("_MediaContent", Model.Id)
                @Html.Action("Media", new { entityId = Model.Id })
        }
    </div>

</section>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery.fileupload");
}