@model EntityListViewModel<Game>

<div id="gameListPage">

    <p class="control">
        <a class="button is-success" href="@Url.Action("Create")">Створити нову гру</a>
    </p>

    <table class="table">
        <tr>
            <th>
               Назва
            </th>
            <th>
                Дата
            </th>
            <th>
               Місце проведення
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Entities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="button is-info">Редагувати</a> |
                    <a href="#" data-id="@item.Id" data-url="@Url.Action("Delete")" class="delete-btn button is-danger">Видалити</a>
                </td>
            </tr>
        }

    </table>
</div>


<div id="delete-game" style="display: none;">
    @Html.Partial("_YesNoPopup",
        new Cleverest.Mvc.ViewModels.Shared.PopupModel()
        {
            TitleKey = "Delete game",
            DescriptionKey = "Are you sure you want to delete the game ?"
        })
</div>