@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/styles")
</head>
<body>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-2 is-cleverest is-admin-aside-menu">
                    @AsideMenu()
                </div>
                <div class="column is-10 is-admin-content-block">
                    @RenderBody()                    
                </div>
            </div>        
        </div>
    </section>


    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/admin-scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>


@helper NavigationNode(string routeName, string nodeTitle)
{
var url = Url.RouteUrl(routeName);
bool isActive = HttpContext.Current.Request.Url.AbsolutePath.Equals(url, StringComparison.InvariantCultureIgnoreCase);
    <li><a class="@(isActive ? "is-active" : string.Empty)"  href="@Url.RouteUrl(routeName)">@nodeTitle</a></li>
}


@helper AsideMenu()
{
    <aside class="menu">
        <p class="menu-label">Основне</p>
        <ul class="menu-list">
            @NavigationNode("AdminIndex", "Головна")
            @NavigationNode("GameList", "Ігри")
            @NavigationNode("TeamIndex", "Команди")
            @NavigationNode("AccountIndex", "Аккаунти")
            @NavigationNode("QuestionIndex", "Питання")
            @NavigationNode("Tasks", "Таски")
            @NavigationNode("Home", "На сайт")
        </ul>
    </aside>
}