@model Cleverest.Mvc.ViewModels.TeamDetailsViewModel
@{
    Layout = "../Shared/_ProfileLayout.cshtml";
}

<div id="teamDetailsPage">
    <div class="box">
        <div class="columns">
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="@Model.Info.PhotoPath" alt="Image">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-8">
                <div class="content">
                    <h1>@Model.Info.Name</h1>
                    <p>
                        @Model.Info.Description
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <p class="content">
            <h1 class="title">Гравці</h1>
        </p>
        <div class="columns">
            @foreach (var profile in Model.Participants)
            {
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="@profile.PhotoPath" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">
                                        <strong>@profile.Name</strong>
                                        <a class="is-right" href="@profile.SocialNetworkLink"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>