@model Cleverest.Mvc.ViewModels.TeamViewModel

@{ 
    Layout = "../Shared/_ProfileLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Team", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.AntiForgeryToken()
    <div class="columns">
        <div class="column is-10">
            <div class="control is-horizontal">
                <div class="control-label">
                    @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "label" })
                </div>
                <div class="control">
                    @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "input" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
            <div class="control is-horizontal">
                <div class="control-label">
                    @Html.LabelFor(x => x.Description, htmlAttributes: new { @class = "label" })
                </div>
                <div class="control">
                    @Html.TextAreaFor(x => x.Description, htmlAttributes: new { @class = "textarea" })
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>
            <div class="control is-horizontal">
                <div class="control-label">
                    @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "label" })
                </div>
                <div class="control">
                    @Html.TextBoxFor(x => x.Image, htmlAttributes: new { @type = "file" })
                    @Html.ValidationMessageFor(x => x.Image)
                </div>
            </div>
        </div>
        <div class="column is-2">
            <p class="control">
                <button class="button is-success is-large" type="submit">Зберегти</button>
            </p>     
        </div>
    </div>
}