@model List<Cleverest.Mvc.ViewModels.TeamViewModel>

@{
    Layout = "../Shared/_ProfileLayout.cshtml";
}

<div id="myTeamsPage">
    <div class="columns">
        <div class="column">
            <div class="control">
                <input type="text" id="search" data-url="@Url.Action("Search", "Team")" class="input is-large" placeholder="Почніть писати назву команду..." />
            </div>
            <div id="searchSuggestions">
            </div>
        </div>
    </div>
    <div class="columns" style="width: 100%;">
        <div class="column is-12" style="margin: 0 auto">
            <table class="table box">
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Кількість гравців</th>
                        <th>Нинішня</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var team in Model)
                {
                    <tr>
                        <td><a href="@Url.Action("Details", "Team", new { id = team.Id })">@team.Name</a></td>
                        <td>@team.ParticipantsCount</td>
                        <td>
                            <input data-url="@Url.Action("SetTeamAsSelected")" data-id="@team.Id" type="checkbox" class="team-selector" @(team.SelectedAsCurrent ? "checked" : "") />
                        </td>
                        <td><a class="button is-success" href="@Url.Action("Edit", new { id = team.Id })">Редагувати</a></td>
                    </tr>
                }
            </table>
        </div>        
    </div>
    <div class="columns">
        <div class="column">
            <a href="@Url.Action("CreateTeam")" class="button is-success">Створити команду</a>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(document).on('change', '.team-selector', null, function (e) {
                debugger;
                var $target = $(e.target).closest("input[type='checkbox']");

                var id = $target.attr("data-id");
                var url = $target.attr("data-url");

                $(".team-selector").prop("checked", false);
                $target.prop("checked", true)

                $.post(url, { teamId: id }, function (result) {
                    alert(result);
                });
            });
        });
    </script>
}