@model IEnumerable<Cleverest.Mvc.ViewModels.Admin.GameViewModel>

@{
    ViewBag.Title = "List";
}

<div id="gameListPage">
    @Shared.PageHeader("View", "You are viewing the list of games")
    <p>
        @Html.ActionLink("Create new game", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a href="@Url.Action("Create", "Question", new { GameId = item.Id })">Create questions</a> |
                    <a href="@Url.Action("Edit", new { id = item.Id })">Edit</a> |
                    <a href="#" data-id="@item.Id" data-url="@Url.Action("Delete")" class="delete-btn">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>


<div id="delete-game" style="display: none;">
    @Html.Partial("_YesNoPopup",
        new Cleverest.Mvc.ViewModels.Shared.PopupModel()
        {
            TitleKey = "Delete game",
            DescriptionKey = "Are you sure you want to delete the game ?"
        })
</div>