@model Cleverest.Mvc.ViewModels.Frontend.Game.GameDetailsViewModel
@{
    bool isFutureGame = Model.Info.GameDate >= DateTime.Now;
    bool hasWinner = Model.Winner != null;
}


@Shared.HeroBlock(string.Format("Гра: {0}", Model.Info.Title), css: "is-success")

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="@Model.Info.ImageUrl"/>
                        </figure>
                    </div>
                    <div class="card-content">
                        
                        @if(!isFutureGame && hasWinner)
                        {
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image" style="height: 40px; width: 40px;">
                                        <img src="@Model.Winner.PhotoPath" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4"><strong>@Model.Winner.Name</strong></p>
                                    <p class="subtitle is-6">Переможець</p>
                                </div>
                            </div>
                        }

                        <div class="content">
                            Найсмішнішу відповідь з гри будемо залишати тут.
                            <a>#ойлолкаксмішно</a> <a>#пацталом</a>
                            <a>#аффтаржжот</a>
                            <br>                           
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            Місце проведення:  <b> @Model.Info.Location</b>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            Дата проведення:  <b> @Model.Info.GameDate.ToString("dd/MM/yyyy")</b>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            Час проведення:  <b> 20:00</b>
                        </div>
                    </div>
                    @if (isFutureGame)
                    {
                        <div class="card-footer">
                            <a href="" class="is-fullwidth button is-success">
                                Зареєструватись
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="column">
                @if (Model.TeamScores.Any())
                {
                    <table class="table box">
                        <thead>
                            <tr>
                                <th>Команда</th>
                                <th>Тур 1</th>
                                <th>Тур 2</th>
                                <th>Тур 3</th>
                                <th>Тур 4</th>
                                <th>Тур 5</th>
                                <th>Тур 6</th>
                                <th>Тур 7</th>
                                <th>Всього</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var teamScore in Model.TeamScores.OrderByDescending(s => s.Scores.Sum(score => score.Value)))
                            {
                                <tr>
                                    <td><a href="@Url.Action("Details", "Team", new { id = teamScore.Id })">@teamScore.Name</a></td>
                                    @for (int i = 1; i <= teamScore.Scores.Count; i++)
                                    {
                                        <td>@teamScore.Scores[i]</td>
                                    }
                                    <td>@teamScore.Scores.Sum(s => s.Value)</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Команда</th>
                                <th>Тур 1</th>
                                <th>Тур 2</th>
                                <th>Тур 3</th>
                                <th>Тур 4</th>
                                <th>Тур 5</th>
                                <th>Тур 6</th>
                                <th>Тур 7</th>
                                <th>Всього</th>
                            </tr>
                        </tfoot>
                    </table>
                }
                else
                {
                    <div class="box">
                        No game
                    </div>
                }
            </div>        
        </div>

        @*<section class="hero is-info">
            <div class="hero-body">
                <div class="container" style="margin-left: 20%">
                    <h1 class="title">
                        Фото з гри
                    </h1>
                    <h2 class="subtitle">
                        fuck yeah
                    </h2>
                </div>
            </div>
        </section>

        <div class="columns is-multiline">           
                @foreach (var photo in Model.Info.GalleryPhotos)
                {
                    <div class="column is-4 ">
                        <div class="card">
                        <div class="card-image">
                            <figure class="is-4by3">
                                <img src="@photo" />
                            </figure>
                        </div>                                
                        </div>
                    </div>
                }             
        </div>*@
    </div>
</div>