@model Cleverest.Mvc.ViewModels.Admin.TeamViewModel

<p class="content">
    <h1 class="title has-text-centered">Створення команди</h1>
</p>

<section class="section" id="createTeamPage">
    <div class="container">
    @using (Html.BeginForm("Create", "Team", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="columns">
            <div class="column is-10">
                <div class="control is-horizontal">
                    <div class="control-label">
                        @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "label" })
                    </div>
                    <div class="control">
                        @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "input" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        @Html.LabelFor(x => x.Description, htmlAttributes: new { @class = "label" })
                    </div>
                    <div class="control">
                        @Html.TextBoxFor(x => x.Description, htmlAttributes: new { @class = "input" })
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>
            <div class="column">
                <p class="control">
                    <button class="button is-success is-large" type="submit">Створити</button>
                </p>
                <p class="control">
                    <a href="@Url.Action("Index")" class="button is-warning is-large">Відмініти</a>
                </p>
            </div>
        </div>
    }
    </div>
</section>

