@model TeamInputViewModel

<p class="content">
    <h1 class="title has-text-centered">Редагування команди</h1>
</p>

<section class="section" id="editTeamPage">
    <div class="container">
        @using (Html.BeginForm(Model.IsCreateModel ? "Create" : "Edit", "Team", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <div class="columns">
                <div class="column is-10 is-cleverest">
                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "input" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    </div>
                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Description, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Description, htmlAttributes: new { @class = "input" })
                            @Html.ValidationMessageFor(x => x.Description)
                        </div>
                    </div>
                    <div class="control is-horizontal">
                        <div class="control-label">
                            @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "label" })
                        </div>
                        <div class="control">
                            @Html.TextBoxFor(x => x.Image, htmlAttributes: new { @type = "file" })
                            @Html.ValidationMessageFor(x => x.Image)
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p class="control">
                        <button class="button is-success is-large" type="submit">Зберегти</button>
                    </p>
                    <p class="control">
                        <a href="@Url.Action("Index")" class="button is-warning is-large">Відмініти</a>
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="container" style="margin-top: 50px;">
        @if (Model.IsMediaContentPresent)
        {
            @Html.Partial("_MediaContent", Model.Id)
            @Html.Action("Media", new { entityId = Model.Id })
        }
    </div>
</section>
