@model EntityListViewModel<Team>

<div id="teamListPage">
    <p>
        <a href="@Url.Action("Create")" class="button is-success">Створити нову команду</a>
    </p>
    <table class="table box">
        <tr>
            <th>
               Ім'я
            </th>            
            <th></th>
        </tr>

        @foreach (var item in Model.Entities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>               
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="button is-info">Редагувати</a> |
                    <a href="#" data-id="@item.Id" data-url="@Url.Action("Delete")" class="delete-btn button is-danger">Видалити</a>
                </td>
            </tr>
        }

    </table>
</div>


<div id="delete-team" style="display: none;">
    @Html.Partial("_YesNoPopup",
        new Cleverest.Mvc.ViewModels.Shared.PopupModel()
        {
            TitleKey = "Delete team",
            DescriptionKey = "Are you sure you want to delete the team ?"
        })
</div>