@model Cleverest.Mvc.ViewModels.Admin.GalleryViewModel


<div id="gameGalleryPage">   

    <div class="control is-grouped">
        <p class="control is-horizontal">
            <div class="control-label">
                @Html.LabelFor(x => x.SelectedGameId, htmlAttributes: new { @class = "label" })
            </div>
            <span class="select">
                @Html.DropDownListFor(model => model.SelectedGameId, Model.GamesIds, htmlAttributes: new { id = "gameSelector" })
            </span>
        </p>

        <p class="control">
            <button class="button is-danger" data-url="@Url.Action("Delete", "Gallery")" id="deletePhotosBtn" disabled>Видалити фото</button>
        </p>
    </div>



    <div class="game-photos">
        @Html.Partial("_Photos", Model)
    </div>
</div>


@Html.Partial("_PhotoUpload")


@section Scripts
{
    @Scripts.Render("~/bundles/jquery.fileupload");
}

<div id="delete-photos-popup" style="display: none;">
    @Html.Partial("_YesNoPopup",
        new Cleverest.Mvc.ViewModels.Shared.PopupModel()
        {
            TitleKey = "Delete photos",
            DescriptionKey = "Are you sure you want to delete these photos ?"
        })
</div>

